# Ignore this
gwt-unitCache/

#java specific
*.class/ 
AwsCredentials.properties
**/AwsCredentials.properties
**/**/AwsCredentials.properties

#netbeans ignore personal stuff
nbproject/private/
 
 
## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Package Files #
*.jar
*.war
*.ear
*.class
war/gwt_test/*
war/gwt_test/
war/WEB_INF/deploy/*
war/WEB_INF/deploy/
